@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Indie+Flower&family=Nova+Square&display=swap");
/*
font-family: 'Barlow', sans-serif; // texto comum
font-family: 'Indie Flower', cursive; // titulos
font-family: 'Nova Square', sans-serif; // logo
*/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Indie Flower";
}

.text_logo {
  font-family: "Nova Square";
}

.nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.nav .logo img {
  margin-right: 10px;
  border-radius: 30%;
}
.nav .logo h2 {
  font-size: 3rem;
}
.nav .link {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .link li {
  padding: 0 20px;
}
.nav .link li a {
  text-decoration: none;
  font-family: "Indie Flower";
  font-weight: 600;
  font-size: 2rem;
  color: blue;
}
.nav .link li a:hover {
  border-bottom: 2px solid blue;
  font-size: 2.4rem;
}
.nav .link li a:active {
  color: blue;
}
.nav .link li a:visited {
  color: blue;
}
.nav .btn_contato {
  margin-right: 20px;
  font-size: 2.2rem;
  padding: 9px 30px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid blue;
  border-right: 2px solid blue;
}
.nav .btn_contato:hover {
  color: white;
  background-color: rgba(0, 0, 255, 0.5);
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  min-height: 100vh;
}
header .text_header {
  width: 40%;
  padding: 20px;
}
header .text_header span {
  font-weight: bold;
  color: blue;
}
header .text_header h1 {
  font-size: 4rem;
  text-align: center;
}
header .text_header p {
  font-size: 2rem;
  text-align: center;
}
header .img_header {
  width: 300px;
}
header .img_header img {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 30px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 20px;
}

.about .about_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.about .about_box .about_img {
  width: 300px;
}
.about .about_box .about_img img {
  width: 100%;
}
.about .about_box .about_text {
  width: 40%;
}
.about .about_box .about_text h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
  text-decoration: none;
}
.about .about_box .about_text p {
  text-align: center;
  font-size: 2rem;
  margin-left: 5px;
}

.projects .container {
  align-items: center;
  justify-content: space-around;
}
.projects .project {
  flex-basis: 250px;
  min-height: 400px;
  border: 2px solid blue;
  box-shadow: 1px 1px 5px black, 1px 1px 10px rgba(5, 5, 5, 0.507);
  border-radius: 10px;
}
.projects .project img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.projects .project h3 {
  text-align: center;
  font-size: 2.5rem;
}
.projects .project p {
  font-size: 2rem;
  padding: 3px;
}/*# sourceMappingURL=style.css.map */