@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Indie+Flower&family=Nova+Square&display=swap");
/*
font-family: 'Barlow', sans-serif; // texto comum
font-family: 'Indie Flower', cursive; // titulos
font-family: 'Nova Square', sans-serif; // logo
*/
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

span {
  font-weight: 600;
  color: #499c97;
}

h1, h2, h3, h4 {
  font-family: "Indie Flower";
  color: #035254;
}

.text_logo {
  font-family: "Nova Square";
}

.nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  max-width: 1024px;
}
.nav .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.nav .logo img {
  margin-right: 10px;
  border-radius: 30%;
}
.nav .logo h2 {
  font-size: 3rem;
}
.nav .link {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .link li {
  padding: 0 20px;
}
.nav .link li a {
  text-decoration: none;
  font-family: "Indie Flower";
  font-weight: 600;
  font-size: 2rem;
  color: #c46e52;
}
.nav .link li a:hover {
  border-bottom: 2px solid #c46e52;
  font-size: 2.4rem;
}
.nav .link li a:active {
  color: #f3c38f;
}
.nav .link li a:visited {
  color: #c46e52;
}
.nav .btn_contato_desk {
  margin-right: 10px;
  background-color: #f5c18b;
  color: #035254;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #c46e52;
  border-right: 2px solid #c46e52;
  cursor: pointer;
}
.nav .btn_contato_desk:hover {
  color: #ecedef;
  background-color: #c46e52;
}
.nav .btn_hamberguer {
  display: none;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 55px);
  max-width: 850px;
  gap: 0px;
  margin: 0 auto;
}
header .text_header {
  max-width: 400px;
  padding: 20px;
}
header .text_header h1 {
  font-size: 4rem;
  text-align: center;
}
header .text_header p {
  font-size: 2rem;
  text-align: center;
}
header .img_header {
  width: 300px;
}
header .img_header img {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  padding: 15px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  gap: 20px;
}

.about .about_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.about .about_box .about_img {
  width: 300px;
}
.about .about_box .about_img img {
  width: 100%;
}
.about .about_box ::-webkit-scrollbar {
  background-color: #f5c18b;
  width: 5px;
}
.about .about_box ::-webkit-scrollbar-thumb {
  background-color: #035254;
}
.about .about_box .about_text {
  width: 50%;
  height: 250px;
  overflow: auto;
  border-bottom: 1px solid;
  border-right: 1px solid;
  box-shadow: 1px 1px 5px black;
}
.about .about_box .about_text h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
  text-decoration: none;
}
.about .about_box .about_text p {
  text-align: center;
  font-size: 1.7rem;
  margin: 5px 0px 10px 5px;
  line-height: 25px;
}

.projects {
  display: flex;
}
.projects .container_gl {
  position: relative;
  padding: 15px;
  max-width: 840px;
  margin: 0 auto;
}
.projects .galeria_box {
  overflow-x: auto;
}
.projects .galeria_box::-webkit-scrollbar {
  display: none;
}
.projects .galeria {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}
.projects .galeria .seta-left, .projects .galeria .seta-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 30px;
  line-height: 250px;
  width: 60px;
  text-align: center;
  color: #035254;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 30%, black 200%);
  opacity: 0.1;
  z-index: 2;
}
.projects .galeria .seta-right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 30%, black 200%);
}
.projects .galeria .seta-left:hover, .projects .galeria .seta-right:hover {
  opacity: 1;
}
.projects .project {
  min-width: 250px;
  border: 2px solid #c46e52;
  box-shadow: 1px 1px 5px black, 1px 1px 10px rgba(5, 5, 5, 0.507);
  border-radius: 10px;
  flex-shrink: 0;
}
.projects .project img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.projects .project .content {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects .project .content .vermais {
  width: 100%;
  display: flex;
  text-align: center;
  border-top: 1px solid;
}
.projects .project .content .vermais a {
  display: inline-block;
  width: 50%;
  text-decoration: none;
  font-family: "Indie Flower";
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #f5c18b;
  color: #035254;
}
.projects .project .content .vermais a:hover {
  color: #ecedef;
  background-color: #c46e52;
}
.projects .project .content .vermais a:first-child {
  border-bottom-left-radius: 10px;
  border-right: 1px solid;
}
.projects .project .content .vermais a:last-child {
  border-bottom-right-radius: 10px;
  border-left: 1px solid;
}
.projects .project h3 {
  text-align: center;
  font-size: 2.5rem;
}
.projects .project p {
  font-size: 2rem;
  padding: 3px;
}
.projects .item {
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}

.skills .container {
  justify-content: center;
  align-items: center;
}
.skills .skill {
  max-width: 75px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .skill img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.skills .skill a {
  width: 100%;
  font-size: 1.5rem;
  padding: 1px;
  text-decoration: none;
  background-color: #f5c18b;
  color: #035254;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 500;
}
.skills .skill a:hover {
  color: #ecedef;
  background-color: #c46e52;
}

.ds_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contato {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  width: 400px;
  height: 600px;
  position: fixed;
  top: 10px;
  right: -400px;
  background-color: #ecedef;
  z-index: 3;
  border-radius: 10px;
  transition: 1s ease;
}
.contato .close {
  text-align: end;
}
.contato .close .btn_close {
  border: none;
}
.contato .close .btn_close .fa-rectangle-xmark {
  font-size: 20px;
  color: #c46e52;
  cursor: pointer;
}
.contato h2 {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 5px;
  text-decoration: underline;
}
.contato label {
  font-size: 1.6rem;
  padding: 10px 0;
}
.contato input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #f5c18b;
  padding-left: 5px;
  outline-color: #499c97;
  font-size: 1.6rem;
}
.contato textarea {
  border-radius: 5px;
  border: 1px solid #f5c18b;
  padding: 5px;
  outline-color: #499c97;
  font-size: 1.6rem;
}
.contato #btn_email {
  font-size: 1.9rem;
  padding: 10px;
  margin: 10px auto;
  width: 150px;
  cursor: pointer;
  background-color: #f5c18b;
  color: #035254;
  font-weight: 600;
  border: 2px solid #f5c18b;
  border-radius: 10px;
}
.contato #btn_email:hover {
  background-color: #c46e52;
  color: white;
}

.mascara_form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(104, 104, 104, 0.356);
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index: 2;
  transition: 0.3s ease;
}

footer {
  height: 300px;
  background-color: rgb(61, 56, 56);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
footer .redes ul {
  list-style: none;
}
footer .redes a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: white;
}
footer .redes .fa-linkedin {
  color: #f5c18b;
  font-size: 20px;
}
footer .redes .fa-github {
  color: #f5c18b;
  font-size: 20px;
}
footer .btn_rodape button {
  background-color: #f5c18b;
  color: #035254;
  border: none;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #c46e52;
  border-right: 2px solid #c46e52;
  cursor: pointer;
}
footer .btn_rodape button:hover {
  color: #ecedef;
  background-color: #c46e52;
}
footer .copy p {
  font-size: 1.2rem;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 7px;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
}
.up a {
  text-decoration: none;
  padding: 3px;
}
.up .fa-circle-up {
  color: #035254;
}

.tks_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecedef;
  width: 100vw;
  height: 100vh;
}
.tks_contact div {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.tks_contact div h1 {
  font-size: 3rem;
}
.tks_contact div p {
  font-size: 2rem;
}
.tks_contact div .voltar {
  background-color: #f5c18b;
  color: #035254;
  border: none;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #c46e52;
  border-right: 2px solid #c46e52;
  cursor: pointer;
}
.tks_contact div .voltar:hover {
  color: #ecedef;
  background-color: #c46e52;
}

@media (max-width: 760px) {
  .btn_contato_desk {
    display: none;
  }
  .nav {
    max-width: 700px;
  }
  .nav .btn_hamburger {
    display: block;
    border: none;
    background: none;
    border-top: 3px solid #f5c18b;
    cursor: pointer;
    z-index: 3;
  }
  .nav .btn_hamburger::before, .nav .btn_hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #f5c18b;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  .nav .div_link {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .nav .div_link .link {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #ecedef;
    -webkit-clip-path: circle(100px at 90% -20%);
            clip-path: circle(100px at 90% -20%);
    transition: 1s ease;
    pointer-events: none;
  }
  .nav .div_link .link a {
    opacity: 0;
    padding: 15px;
    font-size: 3rem;
  }
  .nav .div_link .link li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  .nav .div_link .link li:nth-child(2) a {
    transition: 0.5s 0.3s;
  }
  .nav .div_link .link li:nth-child(3) a {
    transition: 0.5s 0.4s;
  }
  .nav .div_link .link li:nth-child(4) a {
    transition: 0.5s 0.5s;
  }
  .nav .div_link.active .link {
    -webkit-clip-path: circle(1500px at 90% -20%);
            clip-path: circle(1500px at 90% -20%);
    pointer-events: all;
  }
  .nav .div_link.active a {
    opacity: 1;
  }
  .nav .btn_hamburger.open {
    position: fixed;
    top: 15px;
    right: 20px;
    border-top-color: transparent;
  }
  .nav .btn_hamburger.open::after {
    transform: rotate(135deg);
    top: 7px;
  }
  .nav .btn_hamburger.open::before {
    transform: rotate(-135deg);
    top: 15px;
  }
  .title {
    font-size: 3rem;
  }
  .img_header {
    max-width: 40%;
    height: 300px;
  }
  .img_header img {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .text_header {
    gap: 0px;
    width: 100%;
    padding: 10px;
  }
  .text_header h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .text_header p {
    font-size: 2rem;
    text-align: center;
  }
  .img_header {
    max-width: 40%;
    height: 300px;
  }
  .img_header img {
    width: 100%;
  }
  section {
    gap: 0px;
  }
  .about .about_box .about_img {
    width: 60%;
    margin: 10px 0;
  }
  .about .about_box .about_img img {
    width: 100%;
  }
  .about .about_box .about_text {
    width: 100%;
    padding: 10px 15px;
    height: 300px;
    overflow: auto;
  }
  .about .about_box .about_text h2 {
    font-size: 3.5rem;
  }
  .btn_rodape {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */